  <div class="container">
   <a href="/me/stored/courses">Back</a>
    <h2>My Courses is delete</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" colspan="2">Description</th>
              
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id = '{{this._id}}'>Restore</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id = '{{this._id}}' data-target="#exampleModal">Delete away</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Trash is Empty 
                <a href="/courses/create">List of Courses</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This action couldn't restore. Are you sure that delete away this course?
      </div>
      <div class="modal-footer">
        <button type="button"  id="btn-delete-button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-courses-form"  method="POST"></form>
<form name="restore-courses-form"  method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let courseId;
    var deleteForm = document.forms["delete-courses-form"];
    var restoreForm = document.forms["restore-courses-form"];
    var btnDeleteCourse = document.getElementById("btn-delete-button")
    var restoreBtn = $('.btn-restore')

    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var courseId = button.data('id');
      deleteForm.action = "/courses/"+ courseId + '/force?_method=DELETE'
    });

    btnDeleteCourse.onclick = function(){
      deleteForm.submit();
    }

    restoreBtn.click(function(e){
      
      e.preventDefault();
      var idCourse = $(this).data('id');
       restoreForm.action = "/courses/"+ idCourse + '/restore?_method=PATCH';
       restoreForm.submit();
    })
  })
</script>